endpoint_add_tcp "0.0.0.0:31162"
endpoint_add_udp "0.0.0.0:31162"

#### SET ####
# Server Data
setr sv_type "FA"

# MySQL
set mysql_connection_string "server=localost;database=le nom de votre base de donné;userid=username;password=votre mot de passe"
set mysql_debug_output "console"
set mysql_slow_query_warning 500
set sv_enforceGameBuild 2372

# California AntiCheat
set anticheat "on"

# EssentialMode
set es_startingBank 10000
set es_startingCash 5000

# License Key (https://keymaster.fivem.net)
set sv_licenseKey "Votre licenseKey"

# Steam Web API key (https://steamcommunity.com/dev/apikey)
set steam_webApiKey "Votre steam ApiKey. Il faut une clé a plus de 10 ball ok "

set onesync_enabled 1
set onesync_forceMigration true
set onesync_workaround763185 true

#### SETS ####
# Server Social
sets activitypubFeed "fivem_staff@mas.to"

# Server Tags
sets tags "roleplay, rp, fr, qc, blg, rp strict, esx, custom cars, custom, drugs, reallife, serious, discord, economy, serious rp, seriousrp, fivem, customcars, custom scripts, realistic, life, lspd, cops, jobs, vrp, freeaccess, white, list, vehicules import, vanilla, vehicules, france, 64, slots, 64 slots, esx, roleplay, default, rp, vrp, police, lspd, cars, ems, drugs, jobs, reallife, custom, serious, discord, economy, cops, serious rp, fun, racing, mafia, drifting, seriousrp, 100 slots, 100"

# Server Language
sets locale "fr-FR"

# Server Banner
sets banner_detail "https://share.creavite.co/yGyiZGAkYQ1jrSfo.gif"
sets banner_connecting "https://share.creavite.co/yGyiZGAkYQ1jrSfo.gif"



# BONUS
sets discord "https://discord.gg/EyP38WrZrP"
sets credit "Serveur développé par BRK"
sets sv_projectDesc "[FR] ^1 SunlifeRP ^9| 👊^2Script Inédit ^9||^3 50k start| 🔊 ^0https://discord.gg/EyP38WrZrP"
sets sv_projectName "^7SunlifeRP"
sets Owner "BRK + Nemesis"
sets Developpeurs "BRK"


#### SERVER ####
# Server Name
sv_hostname "[FR] ^1 SunlifeRP ^9| 👊^2Script InÃ©dit ^9||^3 50k start |🔊 ^0 https://discord.gg/EyP38WrZrP"

# Loading a server icon (96x96 PNG file)
load_server_icon "96x96logo.png"

# enable OneSync (required for server-side state awareness)
set onesync on

# Server Slots
sv_maxclients 48

# Script Allowed ?
sv_scriptHookAllowed 0

# Steam Required
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Hides player IP addresses from /players.json
sv_endpointprivacy true

# Server No-Proxy
#sv_useDirectListing true

# Server Proxy Override
#sv_listingIPOverride "Votre adresse ip"

# Server Master URL
#sv_master1 ""

exec "perms.cfg"
exec "resources.cfg"
exec "info.cfg"